## Import dependency

In [2]:
import numpy as np
import pandas as pd

## Question 1
### What's the version of NumPy that you installed?

In [3]:
print(np.__version__)

1.21.5

## Question 2
### How many records are in the dataset?

In [4]:
df = pd.read_csv('data.csv')
print(len(df))

11914

## Question 3
### Who are the most popular car manufacturers (top-3) according to the dataset?

In [5]:
print(df.Make.value_counts().nlargest(3))

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

## Question 4
### What's the number of unique Audi car models in the dataset?

In [6]:
# df[ df['Make'] == 'Audi' ]['Model']
df[df.Make == 'Audi'].Model.nunique()

34

## Question 5
### How many columns in the dataset have missing values?

In [7]:
missing_values_per_column = df.isna().sum()
len(missing_values_per_column[missing_values_per_column > 0])

5

## Question 6

1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

### Has it changed?

In [ ]:
# 1. Find the median value of "Engine Cylinders" column in the dataset.
medcylinders = df['Engine Cylinders'].median()
print(medcylinders)

# 2. Next, calculate the most frequent value of the same "Engine Cylinders".
mostcylinders = df['Engine Cylinders'].mode()
print(mostcylinders)

# 3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(mostcylinders)

# 4. Now, calculate the median value of "Engine Cylinders" once again.
new_medcylinders = df['Engine Cylinders'].mean()
print(new_medcylinders)

print("--------------------")
print('Yes')

## Question 7

* Select all the "Lotus" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders".
* Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
* Get the underlying NumPy array. Let's call it `X`.
* Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
* Invert `XTX`.
* Create an array `y` with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
* Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
* What's the value of the first element of `w`?

In [ ]:
# Select all the "Lotus" cars from the dataset.
res = df [ df['Make'] == 'Lotus' ]
# print(res)

# Select only columns "Engine HP", "Engine Cylinders".
res = res[['Engine HP', 'Engine Cylinders']]
# print(res)

# Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
res = res.drop_duplicates()
# print(res)

# Get the underlying NumPy array. Let's call it `X`.
X = res.values
# print(X)

# Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
XTX = X.T @ X

# Invert `XTX`.
invXTX = np.linalg.inv(XTX)

# Create an array `y` with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

# Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
w = invXTX @ X.T @ y

# What's the value of the first element of `w`?
res = w[0]

print(res)